#accueil {
  min-height: 77vh;
}

/*
.accueil-panneaux {}
#accueilDroite {}
*/

.each-slide div {
  display: flex;
  flex-direction: column;
}

.panneau-texte {
  width: 75%;
  margin: auto;
  color: whitesmoke;
  padding: 1.5rem;
  background: rgba(50, 50, 50, 0.5);
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
}
.panneau-texte h4 {
  font-size: 1.5rem;
}
.panneau-texte p {
  font-size: 1.2rem;
}

.smartphone-text {
  display: none;
  color: gray;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
}

@media only screen and (max-width: 750px) {
  #accueil {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("../../public/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; */
  }

  .slide-container {
    display: none;
  }

  .smartphone-text {
    display: block;
  }

  .panneau-texte {
    width: 95%;
  }
}
