nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  min-height: 5vh;
  background: rgba(50, 50, 50, 0.3);
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Red Hat Mono", monospace;
  font-size: 1.2rem;
  height: 100%;
  padding: 0 1rem;
  line-height: 2.5rem;
}

nav a:hover {
  color: #555;
  background: var(--container-bg);
}

.hidden-nav-item {
  display: none;
}

@media only screen and (max-width: 750px) {
  nav {
    display: flex;
    flex-direction: column;
    /* display: block; */
    background: none;
    position: static;
    margin-bottom: 1.5rem;
  }

  nav a {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-height: 5rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    font-size: 1.8rem;
  }
  .hidden-nav-item {
    display: inherit;
  }

  .default-nav-item {
    display: none;
  }
}
