#pose {
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-template-rows: 48.5% 48.5%;
  gap: 20px;
  place-content: center;
  justify-items: center;
  align-items: center;
}

.photoNO {
  background: no-repeat url("../../public/images/photo_p1-4.jpg");
}

.photoNE {
  background: no-repeat url("../../public/images/photo_p2-4.jpg");
  /* background-size: cover; */
}

.photoSO {
  background: no-repeat url("../../public/images/photo_p3-4.jpg");
  /* background-size: cover; */
}
.photoNO,
.photoNE,
.photoSO {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.pose-texte {
  width: 85%;
  color: dimgray;
}

@media only screen and (max-width: 750px) {
  #pose {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    width: 95%;
    background: rgba(50, 50, 50, 0.5);
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 10px;
  }

  .pose-texte {
    width: 85%;
    color: inherit;
  }

  .photoNO,
  .photoNE,
  .photoSO {
    display: none;
  }
}
