/* .App {
  text-align: center;
} */

.light-background {
  color: var(--dark-text);
  background: var(--light-bg);
}

.dark-background {
  color: var(--light-text);
  background: var(--dark-bg);
}

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  height: 18vh;
}
nav {
  min-height: 100vh;
  /* background: greenyellow; */
}
section {
  min-height: 100vh;
}

/* TEXTES */
.infotextes {
  font-family: "Source Sans Pro", sans-serif;
}

.infotextes h4 {
  font-size: 1.5rem;
}

.infotextes p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 750px) {
  section {
    min-height: inherit;
    margin-bottom: 1.5rem;
  }
}
