@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 75%;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
}

:root {
  --container-bg: whitesmoke;
  --light-text: whitesmoke;
  --dark-text: #333;
  --light-bg: whitesmoke;
  --dark-bg: #333;
}
